<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% if title %}
        <title>FreshPV - Your Site about the greatest Hobby on earth - FPV</title>
        {% else %}
        <title>Welcome to FreshPV</title>
        {% endif %}
</head>
<body>
    <div>FreshPV:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>